In [1]:
import pandas as pd
from scipy.stats import ks_2samp

In [5]:
training_file_path= "artifact\\07_29_2023_11_59_24\\data_ingestion\\ingested\\train.csv"

In [6]:
testing_file_path= 'artifact\\07_29_2023_11_59_24\data_ingestion\\ingested\\test.csv'

In [7]:
train_df= pd.read_csv(training_file_path)
test_df= pd.read_csv(testing_file_path)

In [8]:
train_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [9]:
test_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [10]:
def get_data_drift_report(base_df, current_df, threshold= 0.5):
    report= {}
    for column in base_df.columns:
        b_df= base_df[column]
        c_df= current_df[column]
        is_same_dist= ks_2samp(b_df, c_df)
        if threshold<=is_same_dist.pvalue:
            is_found= False
        else:   
            is_found= True
        report.update({
        column: {
        'p_value': float(is_same_dist.pvalue),
        'drift_status': is_found}
            })
    return report

In [11]:
drift_report= get_data_drift_report(train_df, test_df)
drift_report

{'class': {'p_value': 1.0, 'drift_status': False},
 'aa_000': {'p_value': 0.5014534999567812, 'drift_status': False},
 'ac_000': {'p_value': 0.45178907553769865, 'drift_status': True},
 'ad_000': {'p_value': 0.8340209128807592, 'drift_status': False},
 'ae_000': {'p_value': 0.9999999983385853, 'drift_status': False},
 'af_000': {'p_value': 0.9999999999999993, 'drift_status': False},
 'ag_000': {'p_value': 1.0, 'drift_status': False},
 'ag_001': {'p_value': 0.9999999999998179, 'drift_status': False},
 'ag_002': {'p_value': 0.9998409112061302, 'drift_status': False},
 'ag_003': {'p_value': 0.6852818900773574, 'drift_status': False},
 'ag_004': {'p_value': 0.32534608191746717, 'drift_status': True},
 'ag_005': {'p_value': 0.15055189019108572, 'drift_status': True},
 'ag_006': {'p_value': 0.4722416625279099, 'drift_status': True},
 'ag_007': {'p_value': 0.3601172260069937, 'drift_status': True},
 'ag_008': {'p_value': 0.5548427987360498, 'drift_status': False},
 'ag_009': {'p_value': 0.946910741619562, 'drift_status': False},
 'ah_000': {'p_value': 0.5353673619549456, 'drift_status': False},
 'ai_000': {'p_value': 0.9995102839372149, 'drift_status': False},
 'aj_000': {'p_value': 0.652623682990811, 'drift_status': False},
 'ak_000': {'p_value': 0.9999999999999353, 'drift_status': False},
 'al_000': {'p_value': 0.9297719922444636, 'drift_status': False},
 'am_0': {'p_value': 0.9438387982291525, 'drift_status': False},
 'an_000': {'p_value': 0.48976323054103477, 'drift_status': True},
 'ao_000': {'p_value': 0.47305016221962437, 'drift_status': True},
 'ap_000': {'p_value': 0.7016912241965152, 'drift_status': False},
 'aq_000': {'p_value': 0.20222010697384107, 'drift_status': True},
 'ar_000': {'p_value': 0.9993365820626422, 'drift_status': False},
 'as_000': {'p_value': 1.0, 'drift_status': False},
 'at_000': {'p_value': 0.9999893712531208, 'drift_status': False},
 'au_000': {'p_value': 1.0, 'drift_status': False},
 'av_000': {'p_value': 0.5079400015386244, 'drift_status': False},
 'ax_000': {'p_value': 0.971199409494311, 'drift_status': False},
 'ay_000': {'p_value': 0.9999862809217401, 'drift_status': False},
 'ay_001': {'p_value': 0.9999434471692044, 'drift_status': False},
 'ay_002': {'p_value': 0.999989011946133, 'drift_status': False},
 'ay_003': {'p_value': 0.9999989180305151, 'drift_status': False},
 'ay_004': {'p_value': 0.9999992235043809, 'drift_status': False},
 'ay_005': {'p_value': 0.023224412105065272, 'drift_status': True},
 'ay_006': {'p_value': 0.21741507556732154, 'drift_status': True},
 'ay_007': {'p_value': 0.5985569792768045, 'drift_status': False},
 'ay_008': {'p_value': 0.34447165709122984, 'drift_status': True},
 'ay_009': {'p_value': 0.9999999999999999, 'drift_status': False},
 'az_000': {'p_value': 0.8527963756140806, 'drift_status': False},
 'az_001': {'p_value': 0.9812983704736224, 'drift_status': False},
 'az_002': {'p_value': 0.6950574069671529, 'drift_status': False},
 'az_003': {'p_value': 0.9483893070935019, 'drift_status': False},
 'az_004': {'p_value': 0.8698683161236983, 'drift_status': False},
 'az_005': {'p_value': 0.08617865813060022, 'drift_status': True},
 'az_006': {'p_value': 0.8541718029326218, 'drift_status': False},
 'az_007': {'p_value': 0.5117308817639202, 'drift_status': False},
 'az_008': {'p_value': 0.9999889143861499, 'drift_status': False},
 'az_009': {'p_value': 0.9999999999999994, 'drift_status': False},
 'ba_000': {'p_value': 0.670275582193581, 'drift_status': False},
 'ba_001': {'p_value': 0.6310989009906738, 'drift_status': False},
 'ba_002': {'p_value': 0.6176891679272707, 'drift_status': False},
 'ba_003': {'p_value': 0.7865653905518037, 'drift_status': False},
 'ba_004': {'p_value': 0.8186657369441351, 'drift_status': False},
 'ba_005': {'p_value': 0.823064837970011, 'drift_status': False},
 'ba_006': {'p_value': 0.48769265575582355, 'drift_status': True},
 'ba_007': {'p_value': 0.853388903702968, 'drift_status': False},
 'ba_008': {'p_value': 0.9722882689494161, 'drift_status': False},
 'ba_009': {'p_value': 0.9828511652677154, 'drift_status': False},
 'bb_000': {'p_value': 0.7620781074134853, 'drift_status': False},
 'bc_000': {'p_value': 0.9890033956227144, 'drift_status': False},
 'bd_000': {'p_value': 0.9244473535886812, 'drift_status': False},
 'be_000': {'p_value': 0.8869804944696921, 'drift_status': False},
 'bf_000': {'p_value': 0.9391600016042524, 'drift_status': False},
 'bg_000': {'p_value': 0.505938324078399, 'drift_status': False},
 'bh_000': {'p_value': 0.551757511493635, 'drift_status': False},
 'bi_000': {'p_value': 0.8928230885878835, 'drift_status': False},
 'bj_000': {'p_value': 0.3019718869320286, 'drift_status': True},
 'bk_000': {'p_value': 0.3871086053000097, 'drift_status': True},
 'bl_000': {'p_value': 0.46276110124859204, 'drift_status': True},
 'bm_000': {'p_value': 0.9626002813244593, 'drift_status': False},
 'bs_000': {'p_value': 0.9676908298477997, 'drift_status': False},
 'bt_000': {'p_value': 0.6088000828395954, 'drift_status': False},
 'bu_000': {'p_value': 0.8418518289500038, 'drift_status': False},
 'bv_000': {'p_value': 0.8418518289500038, 'drift_status': False},
 'bx_000': {'p_value': 0.7192803934629591, 'drift_status': False},
 'by_000': {'p_value': 0.7913537936311097, 'drift_status': False},
 'bz_000': {'p_value': 0.5519629404216864, 'drift_status': False},
 'ca_000': {'p_value': 0.6390806150844348, 'drift_status': False},
 'cb_000': {'p_value': 0.9210112835169009, 'drift_status': False},
 'cc_000': {'p_value': 0.6757908823042937, 'drift_status': False},
 'cd_000': {'p_value': 0.999999989713577, 'drift_status': False},
 'ce_000': {'p_value': 0.5616402117830602, 'drift_status': False},
 'cf_000': {'p_value': 0.9781215126506193, 'drift_status': False},
 'cg_000': {'p_value': 0.5395672911748837, 'drift_status': False},
 'ch_000': {'p_value': 0.9999978380124639, 'drift_status': False},
 'ci_000': {'p_value': 0.49325808148027805, 'drift_status': True},
 'cj_000': {'p_value': 0.9322759496215778, 'drift_status': False},
 'ck_000': {'p_value': 0.6613628941906377, 'drift_status': False},
 'cl_000': {'p_value': 0.15833260111473646, 'drift_status': True},
 'cm_000': {'p_value': 0.9959010516462149, 'drift_status': False},
 'cn_000': {'p_value': 0.9995568830061687, 'drift_status': False},
 'cn_001': {'p_value': 0.41968910855605956, 'drift_status': True},
 'cn_002': {'p_value': 0.5427811706831157, 'drift_status': False},
 'cn_003': {'p_value': 0.1857533583078793, 'drift_status': True},
 'cn_004': {'p_value': 0.5296520635332127, 'drift_status': False},
 'cn_005': {'p_value': 0.4369127548487767, 'drift_status': True},
 'cn_006': {'p_value': 0.5515176788963352, 'drift_status': False},
 'cn_007': {'p_value': 0.5221559984734923, 'drift_status': False},
 'cn_008': {'p_value': 0.47262302860603567, 'drift_status': True},
 'cn_009': {'p_value': 0.5466266651245106, 'drift_status': False},
 'co_000': {'p_value': 0.9951367759963743, 'drift_status': False},
 'cp_000': {'p_value': 0.8221279524727179, 'drift_status': False},
 'cq_000': {'p_value': 0.8418518289500038, 'drift_status': False},
 'cs_000': {'p_value': 0.777040990473182, 'drift_status': False},
 'cs_001': {'p_value': 0.674806575836518, 'drift_status': False},
 'cs_002': {'p_value': 0.6868678485951913, 'drift_status': False},
 'cs_003': {'p_value': 0.5305520592119464, 'drift_status': False},
 'cs_004': {'p_value': 0.7702666190103539, 'drift_status': False},
 'cs_005': {'p_value': 0.8066465873277279, 'drift_status': False},
 'cs_006': {'p_value': 0.4927360701879512, 'drift_status': True},
 'cs_007': {'p_value': 0.5087027332741001, 'drift_status': False},
 'cs_008': {'p_value': 0.8567709597344408, 'drift_status': False},
 'cs_009': {'p_value': 0.9189533445815448, 'drift_status': False},
 'ct_000': {'p_value': 0.5091401171177489, 'drift_status': False},
 'cu_000': {'p_value': 0.8276646773441694, 'drift_status': False},
 'cv_000': {'p_value': 0.9505771690866851, 'drift_status': False},
 'cx_000': {'p_value': 0.8143130955616993, 'drift_status': False},
 'cy_000': {'p_value': 0.9979150711524812, 'drift_status': False},
 'cz_000': {'p_value': 0.7236285472352452, 'drift_status': False},
 'da_000': {'p_value': 0.9999999999890065, 'drift_status': False},
 'db_000': {'p_value': 0.9647337436178386, 'drift_status': False},
 'dc_000': {'p_value': 0.8036842655391258, 'drift_status': False},
 'dd_000': {'p_value': 0.8867492582879696, 'drift_status': False},
 'de_000': {'p_value': 0.35708664748795726, 'drift_status': True},
 'df_000': {'p_value': 1.0, 'drift_status': False},
 'dg_000': {'p_value': 0.9999917471743333, 'drift_status': False},
 'dh_000': {'p_value': 0.9999754596482499, 'drift_status': False},
 'di_000': {'p_value': 0.999994124366516, 'drift_status': False},
 'dj_000': {'p_value': 1.0, 'drift_status': False},
 'dk_000': {'p_value': 0.9999999999999996, 'drift_status': False},
 'dl_000': {'p_value': 1.0, 'drift_status': False},
 'dm_000': {'p_value': 1.0, 'drift_status': False},
 'dn_000': {'p_value': 0.6261373008444884, 'drift_status': False},
 'do_000': {'p_value': 0.4955533974893487, 'drift_status': True},
 'dp_000': {'p_value': 0.23665352732331824, 'drift_status': True},
 'dq_000': {'p_value': 0.44228432533309514, 'drift_status': True},
 'dr_000': {'p_value': 0.7508842443699142, 'drift_status': False},
 'ds_000': {'p_value': 0.6436132548545255, 'drift_status': False},
 'dt_000': {'p_value': 0.5989794713033253, 'drift_status': False},
 'du_000': {'p_value': 0.8071665553930053, 'drift_status': False},
 'dv_000': {'p_value': 0.6882422274491304, 'drift_status': False},
 'dx_000': {'p_value': 0.47712526238433994, 'drift_status': True},
 'dy_000': {'p_value': 0.06534230845039546, 'drift_status': True},
 'dz_000': {'p_value': 0.9999999999999664, 'drift_status': False},
 'ea_000': {'p_value': 0.999999989270248, 'drift_status': False},
 'eb_000': {'p_value': 0.999290183803269, 'drift_status': False},
 'ec_00': {'p_value': 0.7018769556272277, 'drift_status': False},
 'ed_000': {'p_value': 0.799569692407626, 'drift_status': False},
 'ee_000': {'p_value': 0.6261360783501231, 'drift_status': False},
 'ee_001': {'p_value': 0.6259453723148545, 'drift_status': False},
 'ee_002': {'p_value': 0.6177990128702597, 'drift_status': False},
 'ee_003': {'p_value': 0.42215085603883906, 'drift_status': True},
 'ee_004': {'p_value': 0.46495775133762074, 'drift_status': True},
 'ee_005': {'p_value': 0.7061959334890671, 'drift_status': False},
 'ee_006': {'p_value': 0.9225563558257801, 'drift_status': False},
 'ee_007': {'p_value': 0.867385803089705, 'drift_status': False},
 'ee_008': {'p_value': 0.6459492468790367, 'drift_status': False},
 'ee_009': {'p_value': 0.60718443867887, 'drift_status': False},
 'ef_000': {'p_value': 1.0, 'drift_status': False},
 'eg_000': {'p_value': 0.9999989004645656, 'drift_status': False}}

In [12]:
from sensor.utils.main_utils import write_yaml_file
import os, sys

In [13]:
write_yaml_file(file_path= os.path.join(os.getcwd(), 'report.yaml'), content= drift_report, replace= True)

In [14]:
df= pd.read_csv(training_file_path)

In [16]:
df.head(20)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,12,4.800000e+01,26.0,0.0,0.0,0.0,0.0,0.0,0.0,...,216.0,92.0,64.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0
1,neg,58254,2.130706e+09,1472.0,0.0,0.0,0.0,0.0,0.0,0.0,...,741986.0,341960.0,579446.0,491444.0,319394.0,112148.0,55792.0,1434.0,0.0,0.0
2,neg,8,6.000000e+00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,16.0,20.0,46.0,4.0,0.0,0.0,0.0,0.0,0.0
3,neg,2618,9.200000e+01,60.0,0.0,0.0,0.0,0.0,24.0,108250.0,...,5360.0,3452.0,9544.0,16656.0,19664.0,53026.0,678.0,0.0,0.0,0.0
4,neg,32282,1.140000e+03,1004.0,0.0,0.0,0.0,0.0,0.0,0.0,...,322130.0,146460.0,285444.0,269008.0,151928.0,87216.0,129828.0,3566.0,0.0,0.0
5,neg,32810,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,274144.0,126084.0,252082.0,270834.0,205688.0,117554.0,188814.0,8606.0,0.0,0.0
6,neg,254,1.800000e+01,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,544.0,204.0,860.0,1376.0,1246.0,6322.0,0.0,0.0,0.0,0.0
7,neg,2168,5.600000e+01,36.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4198.0,1850.0,4404.0,86032.0,978.0,84.0,50.0,10.0,0.0,0.0
8,neg,38024,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,289008.0,150976.0,318968.0,206590.0,165736.0,136416.0,347438.0,22926.0,0.0,0.0
9,neg,39886,2.130706e+09,250.0,0.0,0.0,0.0,0.0,0.0,0.0,...,150368.0,77882.0,170118.0,244138.0,717966.0,337942.0,30006.0,48.0,0.0,0.0
10,neg,2094,1.460000e+02,132.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16230.0,7722.0,16192.0,53932.0,3672.0,272.0,20.0,0.0,0.0,0.0
11,neg,59126,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,325630.0,150244.0,256570.0,199722.0,275626.0,395916.0,630234.0,54690.0,0.0,0.0
12,neg,1608,3.000000e+01,26.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6876.0,3218.0,7732.0,53234.0,1154.0,114.0,8.0,0.0,0.0,0.0
13,pos,147580,NaN,NaN,NaN,NaN,0.0,1036.0,419168.0,3492212.0,...,2191612.0,661436.0,1178846.0,741916.0,818148.0,633006.0,11840.0,0.0,NaN,NaN
14,neg,29074,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,299858.0,167420.0,413110.0,332716.0,108034.0,28990.0,7872.0,0.0,0.0,0.0
15,neg,82,6.000000e+00,6.0,0.0,0.0,0.0,0.0,0.0,608.0,...,1488.0,334.0,17666.0,452.0,192.0,64.0,0.0,0.0,0.0,0.0
16,neg,28566,2.130706e+09,1126.0,0.0,0.0,0.0,0.0,0.0,4698.0,...,152884.0,94834.0,219864.0,266246.0,203750.0,154374.0,172630.0,220.0,0.0,0.0
17,neg,119662,1.306000e+03,1100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,879996.0,387890.0,708100.0,615808.0,589566.0,467214.0,1383528.0,72696.0,0.0,0.0
18,neg,61466,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,553946.0,238798.0,440884.0,426730.0,389254.0,276914.0,346972.0,6244.0,0.0,0.0
19,neg,55088,2.460000e+02,148.0,0.0,0.0,0.0,0.0,0.0,0.0,...,434748.0,237098.0,572166.0,545568.0,432596.0,218966.0,97206.0,40.0,0.0,0.0